
.tabs{
  padding-top: 1rem;

}
.tab-nav-container{
   list-style-type: none;
   display:grid;
   justify-content: center;
   align-content: center;
   text-align: center;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1rem;
   
}

/* Tab nav Hover effect */

ul li:hover {
color:rgb(245, 222, 18);
cursor: pointer;
}
ul li:hover path {
fill:rgb(245, 222, 18);
}
/* Active Tab */
.active{
  border-bottom: 4px solid rgb(226, 69, 134);
}
.tab-selected{
  
color:rgb(245, 222, 18);
}
.tab-selected path{
  fill:rgb(245, 222, 18);
}


